body {
	background-color: #f0f0f2;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.experimentModule {
	position: relative;
	width: 100%;
	height: 500px;
	margin-top: 20px;
}
.previewShot {
	height: 400px;
	width: 49%
}
.variationCarousel {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 300px
}
      
.variationCarousel  iframe.varSelected_1 {
	position: relative;
	float: left;
	display: block;
}
      
.variationCarousel  iframe.varSelected_2 {
	position: relative;
	float: right;
	display: block;
}
      
.variationCarousel iframe {
	display: none;
}
      
.varButton {
}
     
      
#container {
	background-color: #FFFFFF;
	padding: 10px;
	width: 90%;
	height: 100%;
	margin-left: 5%
}
